<section class="section layout-{{ layout.acf_fc_layout }} bg-light">
  <div class="container-xxl py-4 py-lg-5">
    <div class="row align-items-center gy-4 gy-lg-0">
      {% if layout.images %}
        <div class="col-12 col-lg-7 order-lg-2">
          <div class="images">
            {% for image in layout.images %}
              <div class="image">
                <div class="ratio ratio-1x1">
                  <picture>
                    <source srcset="{{ Image(image).src|resize(650, 650)|towebp }}" type="image/webp">
                    <img class="rounded-circle img-fluid w-100" loading="lazy" src="{{ Image(image).src|resize(650, 650) }}" alt="{{ image.alt }}">
                  </picture>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="col-12 col-lg-5 order-lg-1">
        {% if layout.title %}
          <h2>{{ layout.title }}</h2>
        {% endif %}

        <div class="lead">
          {{ layout.text }}
        </div>
      </div>
    </div>
  </div>
</section> 