<section class="section layout-{{ layout.acf_fc_layout }}">
  <div class="container py-5">
    <div class="row justify-content-between align-items-center gy-3">
      <div class="col-12 col-lg-4 {{ layout.order == 'text_image' ? 'order-lg-2' }}">
        {% if layout.image %}
          <div class="px-5 text-center">
            <picture>
              <source srcset="{{ Image(layout.image).src|towebp }}" type="image/webp">
              <img class="w-100 h-100" loading="lazy" src="{{ Image(layout.image).src }}" alt="{{ layout.image.alt }}">
            </picture>
          </div>
        {% endif %}
      </div>

      <div class="col-12 col-lg-7 {{ layout.order == 'text_image' ? 'order-lg-1' }}">
        {% if layout.title %}
          <h2>{{ layout.title }}</h2>
        {% endif %}

        {{ layout.text }}

        {% if layout.link %}
        <a href="{{ layout.link.url }}" target="{{ layout.link.target }}" class="btn {{ layout.link_style }}">{{ layout.link.title }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>