{% set testimonial = Post(layout.testimonial) %}

<section class="section layout-{{ layout.acf_fc_layout }}">
  <div class="bg-cover">
    <picture>
      <source srcset="{{ theme.path }}/dist/assets/wood-texture.webp" type="image/webp">
      <img loading="lazy" src="{{ theme.path }}/dist/assets/wood-texture.jpg" alt="">
    </picture>
  </div>

  <div class="container py-5">
    <div class="row justify-content-center align-items-center gy-3 gy-md-0">
      <div class="col-12 col-md-3 col-lg-2">
        <picture>
          <source srcset="{{ testimonial.thumbnail.src|resize(350, 350)|towebp }}" type="image/webp">
          <img class="img-fluid rounded-circle d-block mx-auto w-50 w-md-auto" loading="lazy" src="{{ testimonial.thumbnail.src|resize(350, 350) }}" alt="{{ testimonial.thumbnail.alt }}">
        </picture>
      </div>

      <div class="col-12 col-md-auto">
        <figure>
          <blockquote class="blockquote text-white">
            {{ testimonial.content }}
          </blockquote>

          <figcaption class="blockquote-footer text-white">
            <cite title="{{ testimonial.title }}">{{ testimonial.title }}</cite>
          </figcaption>
        </figure>

        {% for i in 0..4 %}
          <i class="fas fa-star fa-lg text-warning"></i>
        {% endfor %}
      </div>
    </div>
  </div>
</section>