{% set footer_menus = [ footer_menu_1, footer_menu_2, footer_menu_3 ] %}

<footer id="footer" class="position-relative bg-primary text-white">
  <div class="bg-cover">
    <picture>
      {#<source srcset="{{ theme.path }}/dist/assets/wood-texture.webp" type="image/webp">#}
      <img loading="lazy" class="bg-cover-img" src="{{ theme.path }}/dist/assets/wood-texture.jpg" alt="">
    </picture>
  </div>

  <div class="container-fluid position-relative py-4 p-lg-5">
    <div class="row justify-content-center justify-content-xxl-between">
      <div class="col-12 col-lg-auto">
        <div class="row gy-4">
          {% for menu in footer_menus %}
            {% if menu.items|length > 0 %}
              <div class="col-12 col-lg-auto">
                <ul class="nav flex-column text-center text-lg-start">
                  <li class="nav-item">
                    <span class="nav-link fw-bold text-white">
                      {{ menu.name }}
                    </span>
                  </li>

                  {% for item in menu.items %}
                    <li class="nav-item">
                      <a class="nav-link fw-light text-white" href="{{ item.url }}" target="{{ item.target ? item.target : '_self' }}">
                        {{ item.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-12 col-lg-auto">
        <div class="row">
          {% if options.footer_details %}
            <div class="col-12 col-xxl-auto text-center text-xxl-start mt-5 mt-xxl-0">
              {{ options.footer_details }}
            </div>
          {% endif %}
          
          <div class="col-12 col-xxl-auto text-center text-xxl-start mt-5 mt-xxl-0">
            <div class="px-5 px-lg-0">
              <img class="logo img-fluid" src="{{ theme.path }}/dist/assets/logo.svg" alt="Texas Star Nut &amp; Food Co.&trade;">
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div class="mt-4 mt-xxl-5 text-center text-xxl-start">
      <span>&copy;{{"now"|date('Y')}} Texas Star Nut &amp; Food Co. All Rights Reserved.</span>
    </div>
  </div>
</footer>