<nav id="header" class="navbar sticky-top navbar-expand-xl navbar-light bg-white shadow">
  <div class="container-fluid">
    <div class="position-relative w-100 d-flex justify-content-center justify-content-xl-start">
      <a class="navbar-brand" href="{{ site.link }}#">
        <img src="{{ theme.path }}/dist/assets/logo.svg" alt="Texas Star Nut &amp; Food Co.&trade;">
      </a>

      <button class="hamburger hamburger--squeeze collapsed d-xl-none lh-1 position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    
    {% if main_menu %}
      <div class="collapse navbar-collapse justify-content-end" id="main-menu">
        <ul class="navbar-nav text-center">
          {% for item in main_menu.items %}
            <li class="nav-item">
              <a class="nav-link" href="{{ item.url }}" target="{{ item.target }}">
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</nav>