<a href="{{ feature.link }}" class="feature d-block position-relative w-100 overflow-hidden h-lg-100">
  <div class="position-absolute w-100 h-100 overlay">
    <picture>
      <source srcset="{{ Image(feature.image).src|resize(1280)|towebp }}" type="image/webp">
      <img class="position-absolute w-100 h-100 object-fit-cover object-position-{{ feature.image_y_position }}" loading="lazy" src="{{ Image(feature.image).src|resize(1280) }}" alt="{{ feature.image.alt }}">
    </picture>
  </div>

  <div class="container-fluid position-relative h-100 d-flex justify-content-center align-items-center text-center">
    <span class="h2 text-white text-shadow">{{ feature.title }}</span>
  </div>
</a>